
      
      html { 
          background: url(background.jpg) no-repeat center center fixed; 
          background-size: cover;
          }
        
          
          
          
          
           #navbar{
     
     background-color:#0006;
      }
    nav ul li:hover
    {
      background-color: #f39d1a;
    }
    nav ul li a
    { 
       padding: 30px;
    }
         
    